@import "../../../../../assets/variables.scss";
button {
  background-color: $primaryColor;
  border: solid 2px $quaternaryColor;
  color : $textDark;
  font-size: $text-md;
}

main {
  height: $fit-page-height;
}

