@import "../../../../../assets/variables.scss";

header {
  height: 6vh;
  background-color: white;
  color: $textLight;
  padding: 1.75vh 5vw ;
  border-bottom: solid 0.5vh $quaternaryColor;
}
nav {
  width: 100%;
}
nav * {
  color : $quaternaryColor;
  border: solid 2px $quaternaryColor;
}
