/*global color*/
/*
$primaryColor : #E6E6E6;
$secondaryColor : #0FA3B1;
$tertiaryColor : #3B60E4;
$quaternaryColor : #F87666;
$quinaryColor : #39393A;
*/
$primaryColor : #F7F7F2;
$secondaryColor : #E4E6C3;
$tertiaryColor : #899878;
$quaternaryColor : #222725;
$quinaryColor : #121113;

/* font color*/
$textLight : #f0f0f0;
$textDark : #0a1414;

/* background color*/
$bgDark : #1e1e1e;
$bgLight : #dcdcdc;

/* font size */
$text-sm : 0.8em;
$text-md : 1em;
$text-lg : 1.2em;
$text-xl : 1.4em;

$fit-page-height : 90vh;
